.footer{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: repeat(5, 1fr);

    height: 26rem;
    width: 100%;
    background-color: var(--color-primary-4);
    border-top: 1px solid;
    border-color: var(--color-primary-1);
}
.links-1{
    grid-column: 1/2;
    grid-row: 1/6;
    border-right: 1px solid;
    border-color: var(--color-primary-1);
}
.logo{
    grid-column: 2/3;
    grid-row: 1/5;
    border-bottom: 1px solid;
    border-color: var(--color-primary-1);
}
.bottom{
    grid-column: 2/3;
    grid-row: 5/6;
}
.links-2{
    grid-column: 3/4;
    grid-row: 1/6;
    border-left: 1px solid;
    border-color: var(--color-primary-1);
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
}
.links__ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.links__ul > li:not(:last-child){
    margin-bottom: 2rem;
}
.links__a{
    cursor: pointer;
    border-bottom: 1px solid transparent;
}
.links__a:hover{
    border-bottom: 1px solid;
    border-color: var(--color-primary-1);
}
.logo__img{
    width: 19.5rem;
    height: 10.8rem;
}