.featured-products{
    padding: 6rem 0;
    display: flex;
    justify-content: center;
    background-color: var(--color-primary-3);
}
.products__grid{
    display: grid;
    grid-template-rows: 60px 390px 44px;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 60px;
    grid-column-gap: 40px;
    justify-items: center;
}
.featured-products__heading{
    grid-row: 1/2;
    grid-column: 2/4;
    text-align: center;
}
.product--1{
    grid-row: 1/3;
    grid-column: 1/2;
}
.product--2{
    grid-row: 2/3;
    grid-column: 2/3;
}
.product--3{
    grid-row: 2/3;
    grid-column: 3/4;
}
.product--4{
    grid-row: 1/3;
    grid-column: 4/5;
}
.products__cta{
    grid-row: 3/4;
    grid-column: 1/5;
    clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
    width: 25.3rem;
    height: 4.4rem;
    background-color: var(--color-primary-1);
    text-align: center;
    color: var(--color-primary-2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.product{
    width: 25.5rem;
    height: 38.6rem;
    overflow: hidden;
    background-color: var(--color-primary-2);
    color: var(--color-primary-1);
    position: relative;
}
.product__img{
    width: 100%;
}
.product__details{
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
}
.product__collection{
    color: #C09188;
}

/* this is another sections css files please do not delete if you are not sure */
.stairs{
    width: 100vw;
    height: 25.4rem;
    background-color: var(--color-primary-3);
}
.stairs__img{
    width: 100%;
    height: 100%;
}